body {
    background-color: #FFCB05;
    font-family: 'Montserrat', sans-serif;
}

.pokemon {
    display: inline-block;
    text-align: center;
    border : 2px solid #FFCB40;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: #FFCB40;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pokemon img {
    display: block;
}


