body {
    background-color: #55d6e3;
}

img {
    height: 120px;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 25px;
}

p {
    font-size: 1em;
}
.btn {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 250px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.btn:hover {
   background-color: #fc0fc0;
   border: #fc0fc0 1px solid; 
}


#bottom {
    margin-top: 12px;
}