body {
    background-color: white;
}

img {
    height: 120px;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 25px;
}

p {
    font-size: 1em;
}

img {
    width: 64px;
    height: 64px;
    margin: 8px 20px;
    border-radius: 25px;
}

h5 {
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}

.media {
    margin-top: 100px;
    margin-bottom: 34px;
    background-color: white;
    width: 300px;
    height: 80px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 300px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#bottom {
    margin-top: 12px;
}

@media ()